body {
    font-family: 'Cabin', sans-serif;
    padding: 40px 52px 16px 52px;
}


a {
    cursor: default;
    text-decoration: none;
}


.header {
    align-items: center;
    display: flex;
    justify-content: space-between
}


.main-logo {
    display: flex;
    align-items: center;
    gap: 18px;
    box-sizing: border-box;
}

.logo-text {
    color: #0E0F13;
    font-size: 28px;
    font-weight: 500;
    line-height: 100%
}


.list-menu ul {
    display: flex;
    align-items: flex-start;
    gap: 56px;
}


.nav-item {
    color: #0E0F13;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 125%
}


.special-item {
    color: #425DF8;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 125%;
}


.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}


.normal-btn {
    border-radius: 8px;
    border: 1px solid #DADADA;
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    color: #0E0F13;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    background: white;
}

.special-btn {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    padding: 234px 0px;
}

.main-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}


.main-heading {
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    line-height: 100%;
}


.about {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
}


.normal-cards {
    display: flex;
    padding: 56px;
    width: 416px;
    height: 789px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    box-sizing: border-box;
}


.price-title {
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: center;
}



.normal-titel {
    color: #0E0F15;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}


.normal-about-titel {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-align: center
}

.price {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #0E0F15;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}


.price-time {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}


.cards-items {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.title-wrapper {
    display: flex;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    gap: 10px;
}


.vector {
    display: flex;
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 500px;
}


.btn-link {
    display: flex;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
}

.link-text {
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-transform: uppercase;
}


.pro-card {
    display: flex;
    padding: 56px;
    width: 350px;
    height: 700px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    border: 1px solid #161A34;
    background: #161A34;
}


.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}


.pro-title {
    color: #F6FDFF;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    line-height: 125%;
}


.pro-about-titel {
    color: #F6FDFF;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    width: 304px;
}


.pro-price {
    display: flex;
    width: 304px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #F6FDFF;
    text-align: right;
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
}


.pro-time {
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}


.pro-cards-items {
    display: flex;
    width: 304px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.pro-wrapper {
    display: flex;
    color: #F6FDFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    gap: 16px;
}


.footer {
    border-top: 1px solid #0E0F13;
    margin: -52px;
}


.footer-text {
    display: flex;
    padding: 16px 52px;
    justify-content: space-between;
    align-items: flex-start;
}


.bot-text {
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

.small-logo {
    display: flex;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
}